.row-table {

    .row-table-container {
        background-color: $color-blackout;
        border-radius: 8px;

        .item-container {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            text-align: center;
            background-color: $color-blackout;
            border-radius: 8px;

            &:hover {
                background-color: rgb(25.9%, 75.3%, 98.4%, 0.3) ;
            }
            
            .item {
                padding: 15px 0;
            }
        }
    }
}